.member-btn {
    background-color: teal;
    color: white;

    padding: 18px 36px;
    font-size: 24px;
    font-weight: bold;

    border: none;
    border-radius: 12px;

    cursor: pointer;

    transition: 0.3s ease;
}

.member-btn:hover {
    background-color: #006666;
    transform: scale(1.08);
}